#edit-profile-user-container {
    max-width: 768px;
    margin: 60px auto;
    position: relative;
  }
  
  #edit-profile-user-container form {
    padding: 36px;
    margin: 50px 0;
  }
  
  #edit-profile-user-container h1 {
    color: #6b93ec;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .edit-profile-user-underline {
    border-bottom: solid 2px #6b93ec;
    margin: -0.312em auto;
    width: 200px;
  }
  
  .edit-profile-user-telephone {
    float: right;
    width: 45%;
  }
  .edit-profile-user-email {
    width: 100%;
  }
  
  #edit-profile-user-container input[type="text"],
  #edit-profile-user-container [type="email"] {
    border: none;
    border-bottom: solid 2px #6b93ec;
    color: #3b3b3b;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
  }
  
  #edit-profile-user-container input[type="text"]:focus,
  #edit-profile-user-container [type="email"]:focus {
    outline: none;
  }
  
  .edit-profile-user-name {
    float: left;
    width: 45%;
  }
  
  .edit-profile-user-email input::placeholder {
    color: #6b93ec;
  }
  .edit-profile-user-telephone input::placeholder {
    color: #6b93ec;
  }
  
  .edit-profile-user-name input::placeholder {
    color: #6b93ec;
  }
  
  #form_button-edit-profile-user {
    background: none;
    border: solid 2px #6b93ec;
    color: #6b93ec;
    cursor: pointer;
    display: inline-block;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    border-radius: 18px;
  }
  
  #form_button-edit-profile-user:hover {
    background: #6b93ec;
    color: #f2f3eb;
  }
  
  @media screen and (max-width: 768px) {
    #edit-profile-user-container {
      margin: 20px auto;
      width: 95%;
    }
  }
  
  @media screen and (max-width: 480px) {
    #edit-profile-user-container h1 {
      font-size: 26px;
    }
  
    #form_button-edit-profile-user {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    #edit-profile-user-container h1 {
      font-size: 18px;
    }
  
    .edit-profile-user-underline {
      width: 130px;
    }
  
    #edit-profile-user-container input[type="text"],
    #edit-profile-user-container input[type="email"] {
      font-size: 0.875em;
    }
  }
  